<template name="scheduleModal">
  <div class="">
    <form id="saveScheduleForm">
      <div id="tmScheduleName">
        <label for="scheduleName">Name:</label>
        <input type="text" name="scheduleName" id="scheduleName" style="width:400px">
      </div>
      <div class="tmScheduleSaveIcon">
        <a href="#" data-toggle="tooltip" id="saveSchedule" data-placement="right"
           title="Save this schedule object" tabindex="-1"><i class="material-icons" id="saveScheduleIcon">done</i></a>
        <a href="#" data-toggle="tooltip" id="cancelSchedule" data-placement="right"
           title="Cancel" tabindex="-1"><i class="material-icons" id="cancelScheduleIcon">clear</i></a>
      </div>
      <div style="clear: both"></div>
      <div id="tmScheduleDesc">
        <label for="scheduleDescription">Description:</label>
        <input type="text" name="scheduleDescription" id="scheduleDescription" style="width:400px">
      </div>
      <div>
        <label for="scheduleDay">Work Day:</label>
        <ul id="scheduleDay">
          <div>
            <li><input type="checkbox" class="filled-in" name="workday" value="Monday">Monday</li>
            <li><input type="checkbox" class="filled-in" name="workday" value="Tuesday">Tuesday</li>
            <li><input type="checkbox" class="filled-in" name="workday" value="Wednesday">Wednesday</li>
            <li><input type="checkbox" class="filled-in" name="workday" value="Thursday">Thursday</li>
          </div>
          <div>
            <li><input type="checkbox" class="filled-in" name="workday" value="Friday">Friday</li>
            <li><input type="checkbox" class="filled-in" name="workday" value="Saturday" style="margin-left:11px">Saturday
            </li>
            <li><input type="checkbox" class="filled-in" name="workday" value="Sunday" style="margin-left:-3px">Sunday
            </li>
          </div>
        </ul>
      </div>
      <div class="scheduleStartContainer">
        <label for="scheduleStartTime">Start Time:</label>

        <div id="scheduleStartTime">
          <select name="startHour" class="form-control scheduleHour" style="margin-left:3px;">
            {{#each hour_object}}
              <option value="{{.}}">{{.}}</option>
            {{/each}}
          </select>

          <div class="timeColon">:</div>
          <select name="startMinute" class="form-control floating-left">
            {{#each minute_object}}
              <option value="{{.}}">{{.}}</option>
            {{/each}}
          </select>

          <div class="timeColon">:</div>
          <select name="startAmPm" class="form-control">
            <option value="AM">AM</option>
            <option value="PM">PM</option>
          </select>
        </div>
      </div>
      <div class="scheduleEndContainer">
        <label for="scheduleEndTime">End Time:</label>

        <div id="scheduleEndTime">
          <select name="endHour" class="form-control scheduleHour">
            {{#each hour_object}}
              <option value="{{.}}">{{.}}</option>
            {{/each}}
          </select>

          <div class="timeColon">:</div>
          <select name="endMinute" class="form-control floating-left">
            {{#each minute_object}}
              <option value="{{.}}">{{.}}</option>
            {{/each}}
          </select>

          <div class="timeColon">:</div>
          <select name="endAmPm" class="form-control">
            <option value="AM">AM</option>
            <option value="PM">PM</option>
          </select>
        </div>
      </div>
    </form>
  </div>
</template>

<template name="testDropdownTrigger">
  <button style="margin-left:3px; font-size:12px">Add New Schedule Object</button>
</template>

<template name="schedulesTemplate">
  <div class="input-field col s12">
    <select class="browser-default" id="scheduleSelect">
      {{#each accessRuleSchedules}}
        <option value="{{name}}" selected={{selected}}>{{name}}</option>
      {{/each}}
    </select>
  </div>
  <div>
    {{ > dropdownTrigger name="scheduleModal" template="testDropdownTrigger" }}
    {{ > dropdown name="scheduleModal" top="-20px" left="155px" class="schedule-modal"}}
  </div>
</template>
